#Missing data

- Missing data is a common problem in machine learning
- It can lead to biased or incomplete results if not properly addressed



## Challenges of Missing Data
- Most predictive models cannot handle missing data
- Missing data can impact model accuracy, interpretability, and generalization

## Techniques for Handling Missing Data
- Statistical imputation methods: mean, median, mode imputation, regression imputation, k-nearest neighbors imputation
- Deep learning techniques: autoencoders, GANs
- Ensemble methods: model averaging, stacked models

## Pros and Cons of Imputation Methods
- Statistical imputation methods: simple and easy to implement, but may not capture complex patterns
- Deep learning techniques: can capture complex patterns, but require large amounts of data and tuning
- Ensemble methods: provide robust predictions, but can be computationally expensive

## Best Practices for Handling Missing Data
- Data exploration: examine patterns and characteristics of missing data
- Multiple imputation: use multiple imputation techniques and compare results
- Sensitivity analysis: assess impact of imputation on results
- Evaluation of imputation performance: use appropriate metrics to evaluate imputation methods
- Incorporating missingness indicators: capture potential bias introduced by imputation
- Domain expertise: leverage subject matter knowledge in decision-making

## Examples of Imputation Methods
- Mean, median, mode imputation: replace missing values with the mean, median, or mode of the column
- Regression imputation: use regression models to predict missing values based on other variables
- K-nearest neighbors imputation: use k-nearest neighbors to impute missing values based on similar samples

## Examples of Deep Learning Techniques
- Autoencoders: neural networks that learn to encode and decode data, can be used for imputation
- GANs (Generative Adversarial Networks): generate synthetic data with realistic imputations

## Examples of Ensemble Methods
- Model averaging: combine predictions from multiple models, such as mean or weighted average
- Stacked models: use predictions from multiple models as input to another model for final prediction

## Conclusion
- Handling missing data is crucial in machine learning
- Choosing appropriate imputation methods depends on data characteristics, problem context, and evaluation of performance
- Following best practices can help in obtaining reliable and accurate results in machine learning applications.

##Example

###The Diabetes Dataset
The Diabetes Dataset involves predicting the onset of diabetes within 5 years in given medical details.
It is a binary (2-class) classification problem. The number of observations for each class is not balanced. There are 768 observations with 8 input variables and 1 output variable. 

The variable names are as follows:
0. Number of times pregnant.
1. Plasma glucose concentration a 2 hours in an oral glucose tolerance test.
2. Diastolic blood pressure (mm Hg).
3. Triceps skinfold thickness (mm).
4. 2-Hour serum insulin (mu U/ml).
5. Body mass index (weight in kg/(height in m)^2).
6. Diabetes pedigree function.
7. Age (years).
8. Class variable (0 or 1).

This dataset is known to have missing values.
Specifically, there are missing observations for some columns that are marked as a zero value.

We can corroborate this by the definition of those columns and the domain knowledge that a zero value is invalid for those measures, e.g. a zero for body mass index or blood pressure is invalid.

###Marking Missing Values
Missing data are not rare in real data sets. In fact, the chance that at least one data point is missing increases as the data set size increases. 

We can use Panda’s describe function to have a general view of our data’s properties

In [ ]:
# load and summarize the dataset
import pandas as pd
from pandas import read_csv
# load the dataset
url="https://raw.githubusercontent.com/profandresg/pyzero/main/pima-indians-diabetes.txt"
dataset = read_csv(url, header=None, names=['#pregnant','plasma_glucose','diastolic_BP','triceps_thickness','2h_insulin','BMI','diabetes_pedigree','age','class'])
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
display(dataset.values)
# summarize the dataset
print(dataset.describe())

<ipython-input-8-c9d522835cfc>:10: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

        #pregnant  plasma_glucose  diastolic_BP  triceps_thickness  \
count  768.000000  768.000000      768.000000    768.000000
mean   3.845052    120.894531      69.105469     20.536458
std    3.369578    31.972618       19.355807     15.952218
min    0.000000    0.000000        0.000000      0.000000
25%    1.000000    99.000000       62.000000     0.000000
50%    3.000000    117.000000      72.000000     23.000000
75%    6.000000    140.250000      80.000000     32.000000
max    17.000000   199.000000      122.000000    99.000000

       2h_insulin         BMI  diabetes_pedigree         age       class
count  768.000000  768.000000  768.000000         768.000000  768.000000
mean   79.799479   31.992578   0.471876           33.240885   0.348958
std    115.244002  7.884160    0.331329           11.760232   0.476951
min    0.000000    0.000000    0.078000           21.000000   0.000000
25%    0.000000    27.300000   0.243750           24.000000   0.000000
50%    30.500000   32.000000   0.372500           29.000000   0.000000
75%    127.250000  36.600000   0.626250           41.000000   1.000000
max    846.000000  67.100000   2.420000           81.000000   1.000000

Missing values are frequently indicated by out-of-range entries; perhaps a negative number (e.g., -1) in a numeric field that is normally only positive, or a 0 in a numeric field that can never normally be 0.
Specifically, the following columns have an invalid zero minimum value:

1: Plasma glucose concentration
2: Diastolic blood pressure
3: Triceps skinfold thickness
4: 2-Hour serum insulin
5: Body mass index

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
print(dataset.head(20))
print(dataset.tail(20))

    #pregnant  plasma_glucose  diastolic_BP  triceps_thickness  2h_insulin  \
0   6          148             72            35                 0
1   1          85              66            29                 0
2   8          183             64            0                  0
3   1          89              66            23                 94
4   0          137             40            35                 168
5   5          116             74            0                  0
6   3          78              50            32                 88
7   10         115             0             0                  0
8   2          197             70            45                 543
9   8          125             96            0                  0
10  4          110             92            0                  0
11  10         168             74            0                  0
12  10         139             80            0                  0
13  1          189             60            23                 846
14  5          166             72            19                 175
15  7          100             0             0                  0
16  0          118             84            47                 230
17  7          107             74            0                  0
18  1          103             30            38                 83
19  1          115             70            30                 96

     BMI  diabetes_pedigree  age  class
0   33.6  0.627              50   1
1   26.6  0.351              31   0
2   23.3  0.672              32   1
3   28.1  0.167              21   0
4   43.1  2.288              33   1
5   25.6  0.201              30   0
6   31.0  0.248              26   1
7   35.3  0.134              29   0
8   30.5  0.158              53   1
9   0.0   0.232              54   1
10  37.6  0.191              30   0
11  38.0  0.537              34   1
12  27.1  1.441              57   0
13  30.1  0.398              59   1
14  25.8  0.587              51   1
15  30.0  0.484              32   1
16  45.8  0.551              31   1
17  29.6  0.254              31   1
18  43.3  0.183              33   0
19  34.6  0.529              32   1
     #pregnant  plasma_glucose  diastolic_BP  triceps_thickness  2h_insulin  \
748  3          187             70            22                 200
749  6          162             62            0                  0
750  4          136             70            0                  0
751  1          121             78            39                 74
752  3          108             62            24                 0
753  0          181             88            44                 510
754  8          154             78            32                 0
755  1          128             88            39                 110
756  7          137             90            41                 0
757  0          123             72            0                  0
758  1          106             76            0                  0
759  6          190             92            0                  0
760  2          88              58            26                 16
761  9          170             74            31                 0
762  9          89              62            0                  0
763  10         101             76            48                 180
764  2          122             70            27                 0
765  5          121             72            23                 112
766  1          126             60            0                  0
767  1          93              70            31                 0

      BMI  diabetes_pedigree  age  class
748  36.4  0.408              36   1
749  24.3  0.178              50   1
750  31.2  1.182              22   1
751  39.0  0.261              28   0
752  26.0  0.223              25   0
753  43.3  0.222              26   1
754  32.4  0.443              45   1
755  36.5  1.057              37   1
756  32.0  0.391              39   0
757  36.3  0.258              52   1
758  37.5  0.197              26   0
759  35.5  0.278              66   1
760  28.4  0.766              22   0
761  44.0  0.403              43   1
762  22.5  0.142              33   0
763  32.9  0.171              63   0
764  36.8  0.340              27   0
765  26.2  0.245              30   0
766  30.1  0.349              47   1
767  30.4  0.315              23   0

<ipython-input-9-668ecd1a3693>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [ ]:
num_missing = (dataset[['plasma_glucose','diastolic_BP','triceps_thickness','2h_insulin','BMI']] == 0).sum()
print(num_missing)

plasma_glucose       5
diastolic_BP         35
triceps_thickness    227
2h_insulin           374
BMI                  11
dtype: int64

This highlights that different “missing value” strategies may be needed for different columns, e.g. to ensure that there are still a sufficient number of records left to train a predictive model.

When a predictor is discrete in nature, missingness can be directly encoded into the predictor as if it were a naturally occurring category.

In [ ]:
from numpy import nan
dataset[['plasma_glucose','diastolic_BP','triceps_thickness','2h_insulin','BMI']] = dataset[['plasma_glucose','diastolic_BP','triceps_thickness','2h_insulin','BMI']].replace(0, nan)
# count the number of nan values in each column
print(dataset.isnull().sum())

#pregnant            0
plasma_glucose       5
diastolic_BP         35
triceps_thickness    227
2h_insulin           374
BMI                  11
diabetes_pedigree    0
age                  0
class                0
dtype: int64

In [ ]:
display(dataset.head(20))
display(dataset.tail(20))

,#pregnant,plasma_glucose,diastolic_BP,triceps_thickness,2h_insulin,BMI,diabetes_pedigree,age,class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.0,34.6,0.529,32,1

,#pregnant,plasma_glucose,diastolic_BP,triceps_thickness,2h_insulin,BMI,diabetes_pedigree,age,class
748,3,187.0,70.0,22.0,200.0,36.4,0.408,36,1
749,6,162.0,62.0,NaN,NaN,24.3,0.178,50,1
750,4,136.0,70.0,NaN,NaN,31.2,1.182,22,1
751,1,121.0,78.0,39.0,74.0,39.0,0.261,28,0
752,3,108.0,62.0,24.0,NaN,26.0,0.223,25,0
753,0,181.0,88.0,44.0,510.0,43.3,0.222,26,1
754,8,154.0,78.0,32.0,NaN,32.4,0.443,45,1
755,1,128.0,88.0,39.0,110.0,36.5,1.057,37,1
756,7,137.0,90.0,41.0,NaN,32.0,0.391,39,0
757,0,123.0,72.0,NaN,NaN,36.3,0.258,52,1
758,1,106.0,76.0,NaN,NaN,37.5,0.197,26,0
759,6,190.0,92.0,NaN,NaN,35.5,0.278,66,1
760,2,88.0,58.0,26.0,16.0,28.4,0.766,22,0
761,9,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

Missing values are common occurrences in data. Unfortunately, most predictive modeling techniques cannot handle any missing values. Therefore, this problem must be addressed prior to modeling.

###Remove Rows With Missing Values
The simplest approach for dealing with missing values is to remove entire predictor(s) and/or sample(s) that contain missing values.

In [ ]:
print(dataset.shape)
# drop rows with missing values
dataset_remnan=dataset.copy()
dataset_remnan.dropna(inplace=True)
# summarize the shape of the data with missing rows removed
print(dataset.shape)
print(dataset_remnan.shape)

(768, 9)
(768, 9)
(392, 9)

###Impute Missing Values
missing data can be imputed. In this case, we can use information in the training set predictors to, in essence, estimate the values of other predictors.

There are many options we could consider when replacing a missing value, for example:

A constant value that has meaning within the domain, such as 0, distinct from all other values.
A value from another randomly selected record.
A mean, median or mode value for the column.
A value estimated by another predictive model.
Any imputing performed on the training dataset will have to be performed on new data in the future when predictions are needed from the finalized model. This needs to be taken into consideration when choosing how to impute the missing values.

For example, if you choose to impute with mean column values, these mean column values will need to be stored to file for later use on new data that has missing values.

In [ ]:
print('Mean Values')
display(dataset.mean())
# manually impute missing values with numpy
dataset_impmean=dataset.copy()
dataset_impmean.fillna(dataset.mean(), inplace=True)
# count the number of NaN values in each column
print('Sum of Null Values')
print(dataset_impmean.isnull().sum())
print(dataset.shape)
print(dataset_impmean.shape)

Mean Values

#pregnant            3.845052
plasma_glucose       121.686763
diastolic_BP         72.405184
triceps_thickness    29.153420
2h_insulin           155.548223
BMI                  32.457464
diabetes_pedigree    0.471876
age                  33.240885
class                0.348958
dtype: float64

Sum of Null Values
#pregnant            0
plasma_glucose       0
diastolic_BP         0
triceps_thickness    0
2h_insulin           0
BMI                  0
diabetes_pedigree    0
age                  0
class                0
dtype: int64
(768, 9)
(768, 9)

In [ ]:
print('Median Values')
display(dataset.median())
# manually impute missing values with numpy
dataset_impmedian=dataset.copy()
dataset_impmedian.fillna(dataset.median(), inplace=True)
# count the number of NaN values in each column
print('Sum of Null Values')
print(dataset_impmedian.isnull().sum())

Median Values

#pregnant            3.0000
plasma_glucose       117.0000
diastolic_BP         72.0000
triceps_thickness    29.0000
2h_insulin           125.0000
BMI                  32.3000
diabetes_pedigree    0.3725
age                  29.0000
class                0.0000
dtype: float64

Sum of Null Values
#pregnant            0
plasma_glucose       0
diastolic_BP         0
triceps_thickness    0
2h_insulin           0
BMI                  0
diabetes_pedigree    0
age                  0
class                0
dtype: int64

In [ ]:
print('Mode Values')
display(dataset.mode(dropna=True).iloc[0])
# manually impute missing values with numpy
dataset_impmode=dataset.copy()
dataset_impmode.fillna(dataset.mode(dropna=True).iloc[0], inplace=True)
# count the number of NaN values in each column
print('Sum of Null Values')
print(dataset_impmode.isnull().sum())

Mode Values

#pregnant            1.000
plasma_glucose       99.000
diastolic_BP         70.000
triceps_thickness    32.000
2h_insulin           105.000
BMI                  32.000
diabetes_pedigree    0.254
age                  22.000
class                0.000
Name: 0, dtype: float64

Sum of Null Values
#pregnant            0
plasma_glucose       0
diastolic_BP         0
triceps_thickness    0
2h_insulin           0
BMI                  0
diabetes_pedigree    0
age                  0
class                0
dtype: int64

*  Any imputing performed on the training dataset will have to be performed on new data in the future when predictions are needed from the finalized model. This needs to be taken into consideration when choosing how to impute the missing values.

*  For example, if you choose to impute with mean column values, these mean column values will need to be stored to file for later use on new data that has missing values.